---
all:
  children:
    proxmox:
      hosts:
        pve:
          ansible_host: "{{ lookup('pipe', 'grep ^PROXMOX_IP= ../../.env | cut -d= -f2') | default('192.168.1.2', true) }}"
          ansible_user: root
          ansible_python_interpreter: /usr/bin/python3

    lxc_containers:
      hosts:
        pihole:
          ansible_host: "{{ lookup('pipe', 'grep ^PIHOLE_IP= ../../.env | cut -d= -f2') | default('192.168.1.10', true) }}"
          ansible_user: root
          ansible_connection: ssh
          lxc_id: 100
          lxc_template: debian-12-standard
          lxc_storage: local-lvm
          lxc_memory: 512
          lxc_cores: 1
          lxc_disk_size: 8

        caddy:
          ansible_host: "{{ lookup('pipe', 'grep ^CADDY_IP= ../../.env | cut -d= -f2') | default('192.168.1.11', true) }}"
          ansible_user: root
          ansible_connection: ssh
          lxc_id: 101
          lxc_template: debian-12-standard
          lxc_storage: local-lvm
          lxc_memory: 512
          lxc_cores: 1
          lxc_disk_size: 4

    docker_hosts:
      hosts:
        docker-services:
          ansible_host: "{{ lookup('pipe', 'grep ^DOCKER_HOST_IP= ../../.env | cut -d= -f2') | default('192.168.1.50', true) }}"
          ansible_user: root
          ansible_connection: ssh
          vm_id: 200
          vm_memory: 8192
          vm_balloon: 2048  # Minimum RAM (2 GB) - can balloon up to vm_memory
          vm_cores: 4
          vm_disk_size: 50
          vm_template: ubuntu-22.04-server

    nas:
      hosts:
        truenas:
          ansible_host: "{{ lookup('pipe', 'grep ^TRUENAS_IP= ../../.env | cut -d= -f2') | default('192.168.1.60', true) }}"
          ansible_user: root
          ansible_connection: ssh
