---
# PiHole role - install and configure PiHole DNS

- name: Install PiHole dependencies
  apt:
    name:
      - curl
      - ca-certificates
      - git
      - iproute2
      - whiptail
    state: present
    update_cache: yes

- name: Create PiHole directories
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - /etc/pihole
    - /etc/dnsmasq.d

- name: Check if PiHole is installed
  stat:
    path: /usr/local/bin/pihole
  register: pihole_installed

- name: Create PiHole unattended install config
  copy:
    content: |
      PIHOLE_INTERFACE=eth0
      PIHOLE_DNS_1={{ homelab_dns_secondary }}
      PIHOLE_DNS_2=8.8.8.8
      QUERY_LOGGING=true
      INSTALL_WEB_SERVER=true
      INSTALL_WEB_INTERFACE=true
      LIGHTTPD_ENABLED=true
      CACHE_SIZE=10000
      DNS_FQDN_REQUIRED=true
      DNS_BOGUS_PRIV=true
      DNSMASQ_LISTENING=local
      WEBPASSWORD={{ vault_pihole_password | default('changeme') | hash('sha256') | hash('sha256') }}
    dest: /etc/pihole/setupVars.conf
    mode: '0644'
  when: not pihole_installed.stat.exists

- name: Download PiHole installer
  get_url:
    url: https://install.pi-hole.net
    dest: /tmp/pihole-install.sh
    mode: '0755'
  when: not pihole_installed.stat.exists

- name: Install PiHole unattended
  command: /tmp/pihole-install.sh --unattended
  when: not pihole_installed.stat.exists
  notify: restart pihole-FTL

- name: Enable dnsmasq.d directory loading (PiHole v6+)
  lineinfile:
    path: /etc/pihole/pihole.toml
    regexp: '^.*misc\.etc_dnsmasq_d.*'
    line: '  etc_dnsmasq_d = true'
    insertafter: '^\[misc\]'
  notify: restart pihole-FTL

- name: Deploy custom DNS records via dnsmasq
  copy:
    content: |
      # Custom DNS records for homelab
      # Managed by Ansible - DO NOT EDIT MANUALLY
      address=/proxmox.{{ homelab_domain }}/{{ hostvars['pve']['ansible_host'] }}
      address=/{{ pihole_url }}/{{ hostvars['pihole']['ansible_host'] }}
      address=/{{ caddy_url }}/{{ hostvars['caddy']['ansible_host'] }}
      address=/{{ authentik_url }}/{{ hostvars['caddy']['ansible_host'] }}
      address=/{{ jellyfin_url }}/{{ hostvars['caddy']['ansible_host'] }}
      address=/{{ n8n_url }}/{{ hostvars['caddy']['ansible_host'] }}
      address=/{{ portainer_url }}/{{ hostvars['caddy']['ansible_host'] }}
      address=/{{ uptime_url }}/{{ hostvars['caddy']['ansible_host'] }}
      address=/docker.{{ homelab_domain }}/{{ hostvars['docker-services']['ansible_host'] }}
    dest: /etc/dnsmasq.d/99-homelab-dns.conf
    mode: '0644'
  notify: restart pihole-FTL

- name: Configure PiHole local DNS domain
  copy:
    content: |
      domain={{ homelab_domain }}
      expand-hosts
    dest: /etc/dnsmasq.d/02-homelab.conf
    mode: '0644'
  notify: restart pihole-FTL

- name: Ensure PiHole-FTL service is enabled
  systemd:
    name: pihole-FTL
    enabled: yes
    state: started
