---
# Mount NFS shares from TrueNAS

- name: Install NFS client
  apt:
    name: nfs-common
    state: present
    update_cache: yes

- name: Create mount directories
  file:
    path: "{{ item.mount_point }}"
    state: directory
    mode: '0755'
  loop: "{{ nfs_mounts }}"

- name: Mount NFS shares
  ansible.posix.mount:
    src: "{{ item.src }}"
    path: "{{ item.mount_point }}"
    fstype: nfs
    opts: "{{ item.opts | default('defaults') }}"
    state: mounted
  loop: "{{ nfs_mounts }}"
